---

---

<div class="flex flex-row justify-around items-center p-28 h-full w-full overflow-x-auto gap-5 scroll-snap-x mandatory whitespace-nowrap bg-[var(--secondary-color-100)]">

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

    <div class="m-4 w-[400px] h-[250px] transition-all ease-in-out hover:scale-105 scroll-snap-align-center">
        <div class="bg-slate-400 w-[300px] h-[500px] object-contain"></div>
    </div>

</div>



<style>
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }

    .scroll-snap-align-center {
        scroll-snap-align: center;
    }
</style>