---

---

<div class="mr-10 text-right">
    <h1>design med</h1>
    <div class="text-wrapper flex flex-row-reverse">
        <div class="box b1 flex-end"><h1>kreativitet</h1></div>
        <div class="box b2 flex-end"><h1>ambition</h1></div>
        <div class="box b3 flex-end"><h1>nysgerrighed</h1></div>
    </div>
</div>

<style>

.box {
    opacity: 0%;
    position:absolute
}

.b1 {
    animation: ani1 10s infinite;
}
.b2 {
    animation: ani2 10s infinite;
}
.b3 {
    animation: ani3 10s infinite;
}

@keyframes ani1 {
0%{
    opacity:0
}
15%{
    opacity:1
}
30%{
    opacity:0
}
}
@keyframes ani2 {
30%{
    opacity:0
}
45%{
    opacity:1
}
60%{
    opacity:0
}
}
@keyframes ani3 {
60%{
    opacity:0
}
80%{
    opacity:1
}
100%{
    opacity:0
}
}

</style>